<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Alas de Cuervo</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
</head>
<body>
<h1>Alas de Cuervo</h1>
<ul>
    <li><a href="https://www.youtube.com/channel/UCbryP_r7Ff_a9JHd_fyygFw">YouTube</a></li>
    <li><a href="https://www.facebook.com/Alas-de-Cuervo-1889111907826383/">Facebook</a></li>
    <li><a href="https://www.yooying.com/alasdecuervo890">Instagram</a></li>
</ul>

<div>
    <h1><a href="/">Noticias</a></h1>
</div>
{% for piece in news %}
<div>
    <p>publicado: {{ piece.published_date }}</p>
    <h1><a href="">{{ piece.title }}</a></h1>
    <p>{{ piece.text|linebreaksbr }}</p>
</div>
{% endfor %}


</body>
</html>

